md-toolbar(color="accent")
  span Express Application
md-sidenav-container
  md-sidenav.side-nav(mode="side" "[opened]"="true")
    div.col-xs-12
      h3 Left Nav Is here
      button(md-raised-button="" color="primary") left nav button
  div
    div.col-sm-6
      md-input-container.markdown-container
        textarea.markdown-source(mdInput='' mdTextareaAutosize='' minRows='20' maxRows='500' placeholder='Markdown Source' mdAutosizeMaxRows='400' '[(ngModel)]'='markdownSource')
    div.col-sm-6
      div('[innerHtml]'='markdownSource|mdToHtml')
