div(fxFlex='')
  div(fxLayout='row')
    div(fxFlex='20' fxHide.lt-md='')
      h3 Left nav
      button(md-raised-button='') left nav button
    div(fxFlex='80' fxFlex.lt-md='100')
      h3 MainContent
      button(md-raised-button='') content button