doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/polyfills.dev.js')
    script(type='text/javascript', src='/javascripts/vendor.dev.js')
    script(type='text/javascript', src='/javascripts/app.dev.js')
  body
    block content
