doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor.dev.css?v=' + deployVersion)
    link(rel='stylesheet', href='/stylesheets/app.dev.css?v=' + deployVersion)
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    block content
    script(type='text/javascript', src='/javascripts/polyfills.dev.js?v=' + deployVersion)
    script(type='text/javascript', src='/javascripts/vendor.dev.js?v=' + deployVersion)
    script(type='text/javascript', src='/javascripts/app.dev.js?v=' + deployVersion)