@import '~@angular/material/theming';
@import 'candy-carousel-theme';

@include mat-core;

@include angular-material-theme($candy-app-theme);


html {
  display: flex;
  flex-direction: column;
  height: 100%;

  body {
    @include primary-font;
    @include font-size-normal;
    flex: 1;
  }

  pre {
    code {
      @include font-size-normal;
      @include mono-font;
    }
  }
}

.mat-sidenav-container {
  height: 100%;
}
