<!DOCTYPE html>
<html>
    <head>
        <title>Express Title</title>
        <link rel="stylesheet" href="/stylesheets/vendor.dev.css" >
        <link rel="stylesheet" href="/stylesheets/app.dev.css" >
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <base href="/">
    </head>
    <body>
        <git-wiki></git-wiki>
        <script type="text/javascript" src="/javascripts/polyfills.dev.js"></script>
        <script type="text/javascript" src="/javascripts/vendor.dev.js"></script>
        <script type="text/javascript" src="/javascripts/app.dev.js"></script>
    </body>
</html>