git-wiki-sidenav {

  ul {
    list-style: none;
    padding-left: 0;

    li ul {
      padding-left: 16px;
    }
   }

  li {
    display: block;
    padding-top: 2px;

    &.sidenav-end {
      padding-left: 16px;
    }
  }
}
