md-toolbar(color="accent")
  i.material-icons.md-36 menu
  span Express Application
md-sidenav-container
  md-sidenav.side-nav(mode="side" "[opened]"="true")
    div.col-xs-12
      h3 Navigation
      git-wiki-sidenav
  div
    router-outlet
